<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985863970055-u8s4v6kus8859u6phn7iqjqva3snnd7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985863970055-u8s4v6kus8859u6phn7iqjqva3snnd7f</string>
	<key>API_KEY</key>
	<string>AIzaSyCzel26gdT5QjxdiILM5SZnSk0O3mmLvvM</string>
	<key>GCM_SENDER_ID</key>
	<string>985863970055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tenaity.Lavender</string>
	<key>PROJECT_ID</key>
	<string>lavender-56c01</string>
	<key>STORAGE_BUCKET</key>
	<string>lavender-56c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985863970055:ios:eb092d9db2c82d91c6b9a2</string>
</dict>
</plist>